
@import "mixins";
@import "variables";

:host{
    display: block;
    width: 100%;
}

.section{
    padding: 0 67px;
}

.title{
    font-size: 30px;
    line-height: 44px;
    font-weight: 500;
    color:rgba(0, 0, 0, 1);
    margin-top: 48px;
}

@media screen and (max-width:$max-width-break-point) {
    .section{
        padding: 0;
    }
    .title{
        font-size: 24px;
        line-height: 36px;
        padding: 0 16px;
    }
}