
@import "mixins";
@import "variables";

:host{
    display: inline-block;
}

.card{
    width: 336px;
}

.title{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: rgba(250, 121, 60, 1);
    margin: 17px 0 8px;
}

.description{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

@media screen and (max-width:817px) {
    .card{
        width: 100%;
    }
}

@media screen and (max-width:$max-width-break-point) {
    .title{
        font-size: 18px;
        line-height: 26px;
    }
    .description{
        font-size: 14px;
        line-height: 20px;
    }
}